body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #2864dc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a.cta {
  display: inline-block;
  background: #2864dc;
  color: #fff;
  border-radius: 8px;
  padding: 6px 10px;
  font-size: 90%;
  text-decoration: none;
  margin-right: 5px;
}

a.cta:hover {
  box-shadow: 0 2px 3px rgba(0,0,0,.25);
  text-decoration: none;
}

input {
  width: 99%;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #bbc;
  padding: 7px;
}

form {
  border: 1px solid #aab;
  max-width: 40em;
  border-radius: 8px;
  padding: 12px 14px;
  box-sizing: border-box;
  background: #fafafd;
}

form > :first-child {
  margin-top: 0;
}

form > :last-child {
  margin-bottom: 0;
}

form a {
  color: #aab;
}

form .actions {
  display: flex;
  justify-content: space-between;
}

.message {
  border: 1px solid #ccc;
  padding: 8px 10px;
  border-radius: 8px;
  background: #fafafa;
  color: #555;
  max-width: 40em;
  box-sizing: border-box;
}

.message.success {
  border-color: #55bb55;
  background: #eeffee;
  color: #393;
}

.message.error {
  border-color: #f55;
  background: #fee;
  color: #e33;
}

form.has-message {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
}

form + .message {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}