body {
  padding: 10px 50px;
  max-width: 760px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

main {
  display: grid;
  grid-template-columns: 230px 1fr;
  grid-gap: 10px;
}

h1 + h3 {
  margin-top: -16px;
  color: #889;
}

a {
  color: #2864dc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  cursor: pointer;
  background: #fff;
  border: 1px solid #ccc;
  font-size: 90%;
  border-radius: 8px;
  padding: 6px 10px;
}

.cta {
  display: inline-block;
  background: #2864dc;
  color: #fff;
  border-radius: 8px;
  padding: 6px 10px;
  font-size: 90%;
  text-decoration: none;
  margin-right: 5px;
  border: 0;
}

button:hover,
.cta:hover {
  box-shadow: 0 2px 3px rgba(0,0,0,.25);
  text-decoration: none;
}

.actions {
  padding: 0 8px;
}

input {
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #bbc;
  padding: 7px 9px;
  letter-spacing: 1px;
}

input.search {
  font-size: 14px;
  margin-bottom: 12px;
}

.message {
  border: 1px solid #ccc;
  padding: 8px 10px;
  border-radius: 4px;
  background: #fafafa;
  color: #555;
  box-sizing: border-box;
  margin-bottom: 12px;
}

.message.success {
  border-color: #55bb55;
  background: #eeffee;
  color: #393;
}

.message.error {
  border-color: #f55;
  background: #fee;
  color: #e33;
}

.user {
  margin-bottom: 10px;
}

.user.hidden {
  display: none;
}

.user .id a {
  font-size: 1.4em;
  font-weight: 600;
  letter-spacing: 1px;
}

.user .id button {
  padding: 2px 5px 2px;
  font-size: 80%;
  border-radius: 4px;
  border-color: #bbb;
}

.user .details {
  color: gray;
}

.feed .user {
  font-size: 80%;
}